*{
    box-sizing: border-box;
}
body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 15px 30px;
    font-size: 17px;
    padding: 8px;
    background-color: whitesmoke;
}

fieldset{
    background-color: rgb(97, 197, 197);
}

section {
    background-color: blueviolet;
}

ul {
    list-style-type: square;
}
body{
    background-color: darkgray;
}

div{
    background-color: rgb(116, 108, 108);
    text-align: center;
    border-radius: 4px;
    color: rgb(236, 224, 238);
}

legend {
    color: rgb(245, 221, 11);
    background-color: black;
    text-shadow: 1px 1px 2px rgb(255, 255, 255);

}
.firstp{
 background-color: aqua;
}
.secondp{
    background-color: pink;
}
pre{
    background-color: blueviolet;
}
.order{
    background-color: brown;
}
.unorder{
    background-color: chartreuse;
}
a:hover{
    color: yellow;
    text-decoration: none;
}