*{
    margin: 0;
    padding: 0;
}
:root {
    --primary-color: #1f2a4e;
    --secondary-color: #ada2af;
    --third-color: #d6d1d7;
    --selector-color: #da0a0b;
    --white: #fefefe;
}
body{
    background-color: var(--secondary-color);
    font-family: "Teko", sans-serif;
}
nav{
    background-color: var(--primary-color);
    padding: 12px 0;
    text-align: center;
}
ul{
    text-decoration: none;
    display: inline;
    padding: 20px 60px;
}
.moto{
    padding: 12px 20px;
    color: var(--white);
}
.moto::selection{
    background-color: var(--primary-color);
    color:var(--selector-color)
}
a:hover{
    color:var(--selector-color)
}
a{
    text-decoration: none;
    color: var(--white);
}