@import url('https://fonts.googleapis.com/css2?family=Teko:wght@300..700&display=swap');

* {
    margin: 0;
    padding: 0;
}

:root {
    --primary-color: #1f2a4e;
    --secondary-color: #ada2af;
    --third-color: #d6d1d7;
    --selector-color: #da0a0b;
    --white: #fefefe;
}

header {
    position: sticky;
    position: -webkit-sticky;
    top: 0;
}

body {
    background-color: var(--secondary-color);
    font-family: "Teko", sans-serif;
}

footer {
    margin: 5px;
}

nav {
    background-color: var(--primary-color);
    padding: 12px 0;
    text-align: center;
}

ul {
    text-decoration: none;
    display: inline;
    padding: 20px 60px;
}

.buttons {
    padding: 0 25px 0 45vw;

}

.buttons span {

    border: 2px solid var(--primary-color);
    border-radius: 20px;
    padding: 2px 8px;
}

.span:hover {
    color: var(--selector-color);
}

.moto {
    --third-color: #a60dc5;
    padding: 12px 20px;
    margin: 20px;
    color: var(--white);
    border: 3px solid var(--selector-color);
    background-color: var(--third-color);
    border-radius: 20px;
    text-align: center;
    font-size: 45px;
}

.moto::selection {
    background-color: var(--primary-color);
    color: var(--selector-color)
}

.support {
    position: fixed;
    bottom: 20px;
    right: 25px;
    padding: 1px 5px;
    border: 2px solid var(--primary-color);
    border-radius: 50px;
}

a:hover {
    color: var(--selector-color)
}

a {
    text-decoration: none;
    color: var(--white);
}